/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/AdobeStock_493844454_Preview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-position-x: 20%;    
}
header{
    font-size: 20px;
    color:#001449;
    background-color: #b9d4d9aa;
}
header h2{
    font-weight: bold;
}
header i{
    color:#005bc5 ;
}
header i:hover{
      transform: scale3d(-1.4, 0.4, 0.7);
      transition: 1s linear;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    color:#001449;
    background-color: #b9d4d9aa;
}